In [1]:
# importing libraries for data exploration
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\timos\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Initial import of dataset.

In [2]:
# read in csv file from NASA FIRMS, treating data as time series and setting acq_date to index.
df = pd.read_csv('DL_FIRE_M6_138850/fire_archive_M6_138850.csv', index_col='acq_date',parse_dates=True)
df.head()

,latitude,longitude,brightness,scan,track,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
acq_date,,,,,,,,,,,,,,
2010-01-01,19.3827,-155.0442,307.0,1.0,1.0,842,Terra,MODIS,70,6.2,291.2,8.3,N,2
2010-01-01,19.3814,-155.0539,319.8,1.0,1.0,842,Terra,MODIS,99,6.2,294.9,19.0,N,2
2010-01-01,19.3904,-155.0554,304.1,1.0,1.0,842,Terra,MODIS,59,6.2,290.6,6.6,N,2
2010-01-01,19.3891,-155.0651,317.5,1.0,1.0,842,Terra,MODIS,95,6.2,292.5,16.9,N,2
2010-01-01,26.6319,-80.6441,310.9,1.3,1.1,1555,Terra,MODIS,44,6.2,285.0,11.5,D,0

Explore data set. Searching for empty or null values.

In [3]:
# checking for null values
df.isnull().sum()

latitude      0
longitude     0
brightness    0
scan          0
track         0
acq_time      0
satellite     0
instrument    0
confidence    0
version       0
bright_t31    0
frp           0
daynight      0
type          0
dtype: int64

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
latitude,1211376.0,38.765076,9.831400,18.9823,32.3798,36.6623,43.2917,70.3211
longitude,1211376.0,-105.530297,21.305924,-173.9637,-118.7433,-98.2420,-89.0094,-67.0042
brightness,1211376.0,325.341830,23.723060,300.0000,310.3000,318.9000,332.5000,506.5000
scan,1211376.0,1.618142,0.819347,1.0000,1.1000,1.3000,1.9000,4.8000
track,1211376.0,1.213772,0.249785,1.0000,1.0000,1.1000,1.3000,2.0000
acq_time,1211376.0,1649.478126,501.252882,0.0000,1627.0000,1836.0000,1940.0000,2359.0000
confidence,1211376.0,68.173480,22.817704,0.0000,54.0000,69.0000,86.0000,100.0000
version,1211376.0,6.208855,0.028409,6.2000,6.2000,6.2000,6.2000,6.3000
bright_t31,1211376.0,295.473693,9.584785,264.5000,289.8000,295.1000,300.5000,400.1000
frp,1211376.0,66.657147,213.264506,-59.2000,10.9000,22.5000,53.0000,14376.5000
type,1211376.0,0.093305,0.423664,0.0000,0.0000,0.0000,0.0000,3.0000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1211376 entries, 2010-01-01 to 2020-01-01
Data columns (total 14 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   latitude    1211376 non-null  float64
 1   longitude   1211376 non-null  float64
 2   brightness  1211376 non-null  float64
 3   scan        1211376 non-null  float64
 4   track       1211376 non-null  float64
 5   acq_time    1211376 non-null  int64
 6   satellite   1211376 non-null  object
 7   instrument  1211376 non-null  object
 8   confidence  1211376 non-null  int64
 9   version     1211376 non-null  float64
 10  bright_t31  1211376 non-null  float64
 11  frp         1211376 non-null  float64
 12  daynight    1211376 non-null  object
 13  type        1211376 non-null  int64
dtypes: float64(8), int64(3), object(3)
memory usage: 138.6+ MB

In [6]:
df.agg([min, max]).T

                min      max
latitude    18.9823  70.3211
longitude  -173.964 -67.0042
brightness      300    506.5
scan              1      4.8
track             1        2
acq_time          0     2359
satellite      Aqua    Terra
instrument    MODIS    MODIS
confidence        0      100
version         6.2      6.3
bright_t31    264.5    400.1
frp           -59.2  14376.5
daynight          D        N
type              0        3

Checking individual rows to drop or encode

In [7]:
# column can be encoded. Describes total of 2 satellites making recordings
df['satellite'].describe()

count     1211376
unique          2
top          Aqua
freq       638838
Name: satellite, dtype: object

In [8]:
# column can be dropped. Describes collection method which is uniform for dataset.
df['instrument'].describe()

count     1211376
unique          1
top         MODIS
freq      1211376
Name: instrument, dtype: object

In [ ]:
# First method for creating date time column. Includes YYYY-MM-DD HH:MM. 
# Can be used to subdivide and track individual fires.
# Method will be kept for future developments.

# data['acq_time'] = data['acq_time'].astype(str).apply(lambda x: x.zfill(4))
# data['acq_time'].head()
# data['acq_time'] = data['acq_time'].astype(str)
# data['acq_time'] = data['acq_time'].str[:2] + ':' + data['acq_time'].str[-2:]
# data["DateTime"] = data['acq_date'].astype(str) +' '+ data['acq_time'].astype(str)
# data['DateTime'] = pd.to_datetime(data['DateTime'])

In [10]:
df = df.drop(columns=['acq_time','instrument','scan','track','version'])

In [11]:
df.head()

,latitude,longitude,brightness,satellite,confidence,bright_t31,frp,daynight,type
acq_date,,,,,,,,,
2010-01-01,19.3827,-155.0442,307.0,Terra,70,291.2,8.3,N,2
2010-01-01,19.3814,-155.0539,319.8,Terra,99,294.9,19.0,N,2
2010-01-01,19.3904,-155.0554,304.1,Terra,59,290.6,6.6,N,2
2010-01-01,19.3891,-155.0651,317.5,Terra,95,292.5,16.9,N,2
2010-01-01,26.6319,-80.6441,310.9,Terra,44,285.0,11.5,D,0

In [12]:
df.shape

(1211376, 9)

In [18]:
pd.get_dummies(df['satellite'])

            Aqua  Terra
acq_date
2010-01-01     0      1
2010-01-01     0      1
2010-01-01     0      1
2010-01-01     0      1
2010-01-01     0      1
...          ...    ...
2020-01-01     1      0
2020-01-01     0      1
2020-01-01     0      1
2020-01-01     1      0
2020-01-01     1      0

[1211376 rows x 2 columns]

In [ ]:
data.head(10)

In [ ]:
data.iloc[0:4,:].plot.scatter(x='latitude',y='longitude')
plt.show()

In [ ]:
data.iloc[4:9,:].plot.scatter(x='latitude',y='longitude')
plt.show()

In [ ]:
data_west = data.loc[(data['longitude'] >= -125) & (data['longitude'] <= -115) & (data['latitude'] <= 50) & (data['latitude'] >= 30)]

In [ ]:
data_west['DateTime'].nunique()

In [ ]:
data_west.shape

In [ ]:
data_west.head()

In [ ]:
data_west.plot.scatter(x='longitude',y='latitude',c='confidence')
plt.show()

In [ ]:
import datetime as dt

In [ ]:
data_west_2010 = data_west[data_west['DateTime'].dt.year == 2010]

In [ ]:
data_west_2010.shape

In [ ]:
data_west_2010.plot.scatter(x='longitude',y='latitude',c='confidence')
plt.show()

In [ ]:
data_west_2010.head(10)

In [ ]:
data_west_2010[data_west_2010['brightness'] == data_west_2010['brightness'].max()]

In [ ]:
test = data_west_2010.groupby('DateTime')

In [ ]:
grouped = grouped.apply(lambda data_west_2010: data_west_2010[data_west_2010['brightness'] == data_west_2010['brightness'].max()])

In [ ]:
test1 = data_west_2010.loc[data_west_2010.groupby(["DateTime"])["brightness"].idxmax()]

In [ ]:
test1.reset_index(inplace=True)

In [ ]:
test1.drop(columns='index', inplace=True)
test1.head(20)

In [ ]:
testplot = test1.iloc[0:10,:]

In [ ]:
sns.scatterplot(data=testplot, x="longitude", y="latitude",palette="deep")

plt.tight_layout()
plt.show()

In [ ]:
sns.lineplot(x='DateTime',y='brightness',data=test1)

In [ ]:
test1.plot.scatter(x='longitude',y='latitude',c='confidence')
plt.show()

In [ ]:
test1.head()

In [ ]:
str(test1.iloc[1,9] - test1.iloc[0,9])

In [ ]:
# from math import sin, cos, sqrt, atan2, radians

# # approximate radius of earth in km
# R = 6373.0

# lat1 = radians(52.2296756)
# lon1 = radians(21.0122287)
# lat2 = radians(52.406374)
# lon2 = radians(16.9251681)

# dlon = lon2 - lon1
# dlat = lat2 - lat1

# a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
# c = 2 * atan2(sqrt(a), sqrt(1 - a))

# distance = R * c

# print("Result:", distance)
# print("Should be:", 278.546, "km")
# The distance is now returning the correct value of 278.545589351 km.

In [ ]:
test1