In [1]:
# importing libraries for data exploration
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Initial import of dataset.

In [2]:
# read in csv file from NASA FIRMS
data = pd.read_csv('DL_FIRE_M6_138850/fire_archive_M6_138850.csv')
data.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,19.3827,-155.0442,307.0,1.0,1.0,2010-01-01,842,Terra,MODIS,70,6.2,291.2,8.3,N,2
1,19.3814,-155.0539,319.8,1.0,1.0,2010-01-01,842,Terra,MODIS,99,6.2,294.9,19.0,N,2
2,19.3904,-155.0554,304.1,1.0,1.0,2010-01-01,842,Terra,MODIS,59,6.2,290.6,6.6,N,2
3,19.3891,-155.0651,317.5,1.0,1.0,2010-01-01,842,Terra,MODIS,95,6.2,292.5,16.9,N,2
4,26.6319,-80.6441,310.9,1.3,1.1,2010-01-01,1555,Terra,MODIS,44,6.2,285.0,11.5,D,0

Explore data set. Searching for empty or null values.

In [3]:
# checking for null values
data.isnull().sum()

latitude      0
longitude     0
brightness    0
scan          0
track         0
acq_date      0
acq_time      0
satellite     0
instrument    0
confidence    0
version       0
bright_t31    0
frp           0
daynight      0
type          0
dtype: int64

In [4]:
# print column names
print(data.columns)

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
latitude,1211376.0,38.765076,9.831400,18.9823,32.3798,36.6623,43.2917,70.3211
longitude,1211376.0,-105.530297,21.305924,-173.9637,-118.7433,-98.2420,-89.0094,-67.0042
brightness,1211376.0,325.341830,23.723060,300.0000,310.3000,318.9000,332.5000,506.5000
scan,1211376.0,1.618142,0.819347,1.0000,1.1000,1.3000,1.9000,4.8000
track,1211376.0,1.213772,0.249785,1.0000,1.0000,1.1000,1.3000,2.0000
acq_time,1211376.0,1649.478126,501.252882,0.0000,1627.0000,1836.0000,1940.0000,2359.0000
confidence,1211376.0,68.173480,22.817704,0.0000,54.0000,69.0000,86.0000,100.0000
version,1211376.0,6.208855,0.028409,6.2000,6.2000,6.2000,6.2000,6.3000
bright_t31,1211376.0,295.473693,9.584785,264.5000,289.8000,295.1000,300.5000,400.1000
frp,1211376.0,66.657147,213.264506,-59.2000,10.9000,22.5000,53.0000,14376.5000
type,1211376.0,0.093305,0.423664,0.0000,0.0000,0.0000,0.0000,3.0000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211376 entries, 0 to 1211375
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   latitude    1211376 non-null  float64
 1   longitude   1211376 non-null  float64
 2   brightness  1211376 non-null  float64
 3   scan        1211376 non-null  float64
 4   track       1211376 non-null  float64
 5   acq_date    1211376 non-null  object
 6   acq_time    1211376 non-null  int64
 7   satellite   1211376 non-null  object
 8   instrument  1211376 non-null  object
 9   confidence  1211376 non-null  int64
 10  version     1211376 non-null  float64
 11  bright_t31  1211376 non-null  float64
 12  frp         1211376 non-null  float64
 13  daynight    1211376 non-null  object
 14  type        1211376 non-null  int64
dtypes: float64(8), int64(3), object(4)
memory usage: 138.6+ MB

In [8]:
data.agg([min, max]).T

                   min         max
latitude       18.9823     70.3211
longitude     -173.964    -67.0042
brightness         300       506.5
scan                 1         4.8
track                1           2
acq_date    2010-01-01  2020-01-01
acq_time             0        2359
satellite         Aqua       Terra
instrument       MODIS       MODIS
confidence           0         100
version            6.2         6.3
bright_t31       264.5       400.1
frp              -59.2     14376.5
daynight             D           N
type                 0           3

Checking individual rows to drop or encode

In [9]:
# column can be encoded. Describes total of 2 satellites making recordings
data['satellite'].describe()

count     1211376
unique          2
top          Aqua
freq       638838
Name: satellite, dtype: object

In [10]:
# column can be dropped. Describes collection method which is uniform for dataset.
data['instrument'].describe()

count     1211376
unique          1
top         MODIS
freq      1211376
Name: instrument, dtype: object

In [11]:
# column can be encoded. Describes datapoint from day or night. Can be checked against time column.
data['daynight'].describe()

count     1211376
unique          2
top             D
freq       978394
Name: daynight, dtype: object

In [12]:
# column is not described in provided key. Will not be dropped at this time.
data['type'].unique()

array([2, 0, 3, 1], dtype=int64)

In [13]:
# column requires further investigation.
data['version'].unique()

array([6.2, 6.3])

In [28]:
data['DateTime'] = (pd.to_datetime(data['acq_date']).add(pd.to_timedelta(data['acq_time'])))

In [ ]:
data = data.drop(columns=['Date','Time','acq_date','acq_time','instrument'])